---
layout: default
---

<header>
  <div class="container">
    {% include topbar.html %}
    <div class="subpage-hero">
      <img src="/assets/images/cube-blue.svg" alt="cube">
      <h1 class="subpage-hero__title">Company</h1>
      <p class="subpage-hero__text">
        We digitize capital markets one security at a time.
      </p>
    </div>
  </div>
</header>
<main>
  <section id="mission" class="mission">
    <div class="container">
      <div class="mission__inner">
        <div class="mission__row">
          <img src="/assets/images/chart.svg" alt="layers">
          <div class="mission__content">
            <h2 class="section-title section-title--light mission__title">Our mission</h2>
            <p class="mission__text text text--light">
              We rise everyday to create open, secure and efficient capital markets. <b>Our goal is to give access to these markets to everyone.</b> With our digital securities, they may act as both originators and investors, breaking the limitations of traditional private markets.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="team" class="team">
    <div class="container">
      <div class="team__row">
        <div class="team__description">
          <h2 class="section-title section-title--dark team__title">atpar team</h2>
          <p class="section-subtitle section-subtitle--dark team__subtitle">We combine diverse points of view from across the world to change financial markets.</p>
        </div>
        <ul class="team-list">
          <li class="team-item">
            <img src="/assets/images/icons/target.svg" alt="target" class="team-item__icon">
            <h3 class="team-item__title">1 Mission</h3>
          </li>
          <li class="team-item">
            <img src="/assets/images/icons/emoji.svg" alt="emoji" class="team-item__icon">
            <h3 class="team-item__title">6 Faces</h3>
          </li>
          <li class="team-item">
            <img src="/assets/images/icons/planet.svg" alt="planet" class="team-item__icon">
            <h3 class="team-item__title">3 Continents</h3>
          </li>
          <li class="team-item">
            <img src="/assets/images/icons/flag.svg" alt="flag" class="team-item__icon">
            <h3 class="team-item__title">4 Countries</h3>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section id="backers" class="pioneers">
    <div class="container">
      <h2 class="section-title section-title--dark">Backed by Blockchain Pioneers</h2>
      <div class="pioneers__row">
          <img src="./assets/images/logotypes/eden.svg" alt="eden block logo">
          <img src="./assets/images/logotypes/consensys.svg" alt="consensys logo">
          <img src="./assets/images/logotypes/jent.svg" alt="christoph jentzsch logo">
      </div>
    </div>
  </section>
  <section id="blog" class="blog">
    <div class="container">
      <h2 class="section-title section-title--dark blog__title">See how our product develops</h2>
      <p class="section-subtitle section-subtitle--dark blog__subtitle">Visit our Medium blog for fresh updates</p>
      <ul id="medium-posts" class="blog-list">
        <li class="blog-list__item">
          <a target="_blank" href="https://medium.com/at-par" class="medium-link">
            <img class="medium-logo" src="/assets/images/logotypes/medium@1x.png" srcset="/assets/images/logotypes/medium@2x.png" alt="medium">
            <div>
              <span class="arrow-link">GO TO MEDIUM</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </section>
  {% include cta.html %}
</main>

<script src="/assets/js/medium-posts.js"></script>
