---
layout: default
---

<header>
  <div class="container">
    {% include topbar.html %}
    <div class="subpage-hero">
      <img src="/assets/images/cube.svg" alt="cube">
      <h1 class="subpage-hero__title">Product</h1>
      <p class="subpage-hero__subtitle">Decentral Depository</p>
      <p class="subpage-hero__text product-hero-text">
        Secure record keeping and servicing for digital securities
      </p>
    </div>
  </div>
</header>
<main>
  <section id="services" class="services section-dark">
    <div class="container">
      <div class="services__row">
        <div class="services__sidebar">
          <h2 class="services__title section-title section-title--light">Services</h2>
          <p class="services__subtitle section-subtitle section-subtitle--light">All-Inclusive issuance, servicing and reporting services</p>
          <ul class="services-list">
            <li class="services-list__item">
              <button data-target="issuance" class="services-list__button active">Issuance</button>
            </li>
            <li class="services-list__item">
              <button data-target="record" class="services-list__button">Record Keeping</button>
            </li>
            <li class="services-list__item">
              <button data-target="reporting" class="services-list__button">Reporting</button>
            </li>
            <li class="services-list__item">
              <button data-target="corporate" class="services-list__button">Corporate actions</button>
            </li>
            <li class="services-list__item">
              <button data-target="audit" class="services-list__button">Audit trail</button>
            </li>
            <li class="services-list__item">
              <button data-target="event" class="services-list__button">Event subscriptions</button>
            </li>
          </ul>
        </div>
        <div class="services__content">
          <div class="service visible" id="issuance">
            <img class="service__icon" src="/assets/images/issuance.svg" alt="issuance">
            <h3 class="service__title">Issuance</h3>
            <p class="service__text"><b>The journey of each and every security starts with drafting a term sheet reflecting the terms & conditions of your offering.</b></p>
            <p class="service__text">We help you save time and cost by utilizing standard, machine-readable product templates from which digital securities can be issued by the push of a button.</p>
          </div>
          <div class="service" id="record">
            <img class="service__icon" src="/assets/images/record.svg" alt="target">
            <h3 class="service__title">Record keeping</h3>
            <p class="service__text"><b>For maximum data integrity, record your securities in our fully digital and DLT-powered securities register using term sheets.</b></p>
            <p class="service__text">We deploy a dedicated digital securities register for every issuer so that you can retain full control over your securities.</p>
          </div>
          <div class="service" id="reporting">
            <img class="service__icon" src="/assets/images/reporting.svg" alt="target">
            <h3 class="service__title">Reporting</h3>
            <p class="service__text"><b>Don’t get lost in the data jungle anymore. Let our reporting services create standard reports for you.</b></p>
            <p class="service__text">Configure the report schema, and we’ll crunch the numbers. A perfect division of labour.</p>
          </div>
          <div class="service" id="corporate">
            <img class="service__icon" src="/assets/images/corporate.svg" alt="corporation building">
            <h3 class="service__title">Corporate actions</h3>
            <p class="service__text"><b>Automate processing your corporate actions with our built-in calculating and paying agent services.</b></p>
            <p class="service__text">The upcoming actions are projected directly from the security’s term sheet requiring minimal interaction. Our paying agent services allow for an efficient distribution of payments (interest, dividends, principal, etc.) among investors.</p>
          </div>
          <div class="service" id="audit">
            <img class="service__icon" src="/assets/images/audit.svg" alt="document">
            <h3 class="service__title">Audit trail</h3>
            <p class="service__text"><b>How did we get to where we are?</b></p>
            <p class="service__text">Never stay in the dark about your past activity again. Always maintain a full audit trail evidencing the current state of your records.</p>
          </div>
          <div class="service" id="event">
            <img class="service__icon" src="/assets/images/event.svg" alt="calendar">
            <h3 class="service__title">Event Subscriptions</h3>
            <p class="service__text"><b>Anytime. Anywhere. On any device. Use our configurable event subscription service and stay on top of what’s happening with your securities.</b></p>
            <p class="service__text">Simply fetch the current event queue or feed your systems and processes with such event notifications.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="benefits" class="benefits">
    <div class="container">
      <h2 class="section-title section-title--dark benefits__title">Benefits</h2>
      <p class="section-subtitle section-subtitle--dark">Let your securities work for you, not the other way around</p>
      <ul class="benefits-list">
        <li class="benefits-list__item">
          <img src="/assets/images/icons/rewind.svg" alt="rewind" class="benefits-list__icon">
          <p class="benefits-list__text">Faster <br> time-to-execution</p>
        </li>
        <li class="benefits-list__item">
          <img src="/assets/images/icons/curve-arrow-down.svg" alt="curve arrow down" class="benefits-list__icon">
          <p class="benefits-list__text">Reduce <br> operational cost</p>
        </li>
        <li class="benefits-list__item">
          <img src="/assets/images/icons/zoom-in.svg" alt="zoom in" class="benefits-list__icon">
          <p class="benefits-list__text">Increase accuracy and transparency</p>
        </li>
        <li class="benefits-list__item">
          <img src="/assets/images/icons/watch.svg" alt="watch" class="benefits-list__icon">
          <p class="benefits-list__text">Real-time <br> monitoring</p>
        </li>
        <li class="benefits-list__item">
          <img src="/assets/images/icons/report.svg" alt="report" class="benefits-list__icon">
          <p class="benefits-list__text">Automated <br> reporting</p>
        </li>
        <li class="benefits-list__item">
          <img src="/assets/images/icons/audit.svg" alt="checkmark" class="benefits-list__icon">
          <p class="benefits-list__text">Continuous <br> audit</p>
        </li>
        <li class="benefits-list__item">
          <img src="/assets/images/icons/integration.svg" alt="integration" class="benefits-list__icon">
          <p class="benefits-list__text">Simplify <br> integration (APIs)</p>
        </li>
      </ul>
    </div>
  </section>
  <section id="securities" class="security">
    <div class="container">
      <div class="security__row">
        <div class="security__content">
          <h2 class="section-title section-title--dark security__title">Securities à la Carte</h2>
          <p class="section-subtitle section-subtitle--dark security__subtitle">
            <b>We build on ACTUS</b> - the open algorithmic standard for financial products covering all kinds of transactions including equity, loans, annuities, bonds, ABS, swaps, options and other derivatives.
          </p>
          <a href="https://actusfrf.org/" class="arrow-link" target="_blank">LEARN MORE</a>
        </div>
        <p
          class="typewrite section-title section-title--l security__slogan"
          data-period="2000"
					data-type='["Loans and mortgages", "Corporate bonds", "Commercial paper", "Company shares", "Asset-backed securities", "Derivatives", "and more..."]'
        >
          <span></span>
        </p>
      </div>
    </div>
  </section>
  <section id="platform" class="platform">
    <div class="container">
      <div class="platform__content">
        <h2 class="section-title section-title--dark">Platform</h2>
        <p class="section-subtitle section-subtitle--dark">Next-generation capital markets infrastructure </p>
        <div class="platform__row">
          <img class="layers-img" src="/assets/images/layers@1x.png" srcset="/assets/images/layers@2x.png" alt="layers">
          <ul class="layers-list">
            <li class="layer">
              <h3 class="layer__title">API</h3>
              <p class="layer__text">Standard REST APIs give you maximum convenience and flexibility in integrating the Digital Securities Depository services into your enterprise system landscape.</p>
            </li>
            <li class="layer">
              <h3 class="layer__title">Middleware</h3>
              <p class="layer__text">A robust set of common services that do the heavy lifting of connecting different system components, querying data across sources, handling the asynchronous nature of DLT, etc.</p>
            </li>
            <li class="layer">
              <h3 class="layer__title">Smart contracts</h3>
              <p class="layer__text">Provide a digital securities register and servicing agents and thereby the core business logic for the secure and consistent record keeping and servicing of securities.</p>
            </li>
            <li class="layer">
              <h3 class="layer__title">DLT</h3>
              <p class="layer__text">Ship ‘Securities over IP’. Leverage technological and regulatory advancement to create an efficient and secure decentral depository on a shared ledger.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="open-source">
    <div class="container">
      <div class="open-source__content">
        <h2 class="section-title section-title-dark">We ❤️️ open source</h2>
        <p class="open-source__text text text--dark">
          <b>With providing mission-critical services comes a lot of responsibility.</b> 
          When building software we don't make any compromises on security and transparency. This is why we have open-sourced from day one our core software elements.
        </p>
        <a target="_blank" href="{{ site.github }}" class="btn btn-primary">
          <span class="btn-primary__background"></span>
          <span class="btn-primary__hover"></span>
          <span class="btn-primary__text">Find us on GitHub</span>
        </a>
      </div>
    </div>
  </section>
  {% include cta.html %}
</main>

<script src="/assets/js/services-tabs.js"></script>
<script src="/assets/js/text-animation.js"></script>
