---
layout: default
---

<header>
  <div class="container">
    {% include topbar.html %}
    <div class="subpage-hero">
      <img src="/assets/images/cube-pink.svg" alt="cube">
      <h1 class="subpage-hero__title">Use Cases</h1>
      <p class="subpage-hero__text use-cases-hero__text">
        Together with our clients and partners we build the future of digital capital markets. <b>Inspired? Get in touch!</b>
      </p>
      {% include use-cases.html %}
    </div>
  </div>
</header>
<main>
  <section>
    <div class="container">
      <ul class="use-cases-list">
        <li id="powerhouse" class="use-case">
          <div class="use-case__row">
            <div class="use-case__label">Building a tokenization powerhouse</div>
            <div class="use-case__content">
              <h2 class="section-title section-title--dark use-case__title">Building a tokenization powerhouse</h2>
              <ul>
                <li class="use-case-item">
                  <h3 class="use-case-item__title">⭐ Opportunity</h3>
                  <p class="use-case-item__text">The client, a leading securities specialist, is rolling out a 360-degree digital securities marketplace including security structuring and issuance, custody for digital assets & securities, a trading venue and management services. A DLT register and digital tokens representing the ownership in a security build the basis of that marketplace.</p>
                </li>
                <li class="use-case-item">
                  <h3 class="use-case-item__title">‍🚀  Goals:</h3>
                  <p class="use-case-item__text">
                    Enhance digital securities with advanced features such as: <br>
                    •  Digital term sheets <br>
                    •  Corporate actions service <br>
                    •  Digital currency paying agent  
                  </p>
                </li>
                <li class="use-case-item">
                  <h3 class="use-case-item__title">‍💡 Value Add:</h3>
                  <p class="use-case-item__text">
                    •  Reduce cost of issuance, servicing and management through digitization and disintermediation <br>
                    •  De-risk, speed up and reduce cost of trade settlement <br>
                    •  Access to securities’ reference data from everywhere <br>
                    •  Automate corporate actions
                  </p>
                </li>
                <li class="use-case-item use-case-item--partner">
                  🤝 Partner: Leading securities specialist
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li id="market" class="use-case">
          <div class="use-case__row">
            <div class="use-case__label">Making private market transactions bankable</div>
            <div class="use-case__content">
              <h2 class="section-title section-title--dark use-case__title">Making private market transactions bankable</h2>
              <ul>
                <li class="use-case-item">
                  <h3 class="use-case-item__title">⭐ Opportunity</h3>
                  <p class="use-case-item__text">Swisspeers is a B2B crowdlending platforms facilitating private debt transactions for SMEs and offering a secondary market for those debt notes. For various reasons these notes are not “bankable” limiting the distribution channel to the platform itself and onboarded investors. At the same time, investors end up managing fragmented portfolios across different origination platforms instead of within a single asset management solution.</p>
                </li>
                <li class="use-case-item">
                  <h3 class="use-case-item__title">‍🚀  Goals:</h3>
                  <p class="use-case-item__text">
                    •  Make swisspeers loans bankable such that they can be consolidated and managed efficiently and listed on exchanges for additional secondary market liquidity just like regular securities <br>
                    •  Give swisspeers borrowers access to additional distribution channels for additional primary market liquidity
                  </p>
                </li>
                <li class="use-case-item">
                  <h3 class="use-case-item__title">‍‍💪  Solution:</h3>
                  <p class="use-case-item__text">
                    Leverage the atpar Decentral Depository to convert swisspeers debt notes into digital securities registered in an open DLT register and transferable by means of digital tokens.
                  </p>
                </li>
                <li class="use-case-item">
                  <h3 class="use-case-item__title">‍💡 Value Add:</h3>
                  <p class="use-case-item__text">
                    •  Debt notes’ reference data attached to the digital token and, hence, accessible everywhere <br>
                    •  Simple transfer of ownership through digital tokens as p2p transaction or through third-party exchange <br>
                    •  Automated crypto paying agent takes care of distribution of proceeds (interest, principal) to investors <br>
                    •  Manage consolidated portfolio of debt notes across originator
                  </p>
                </li>
                <li class="use-case-item use-case-item--partner">
                  🤝 Partner:
                  <div class="use-case-item__img-wrapper">
                    <a href="https://www.swisspeers.ch" target="_blank">
                      <img class="swisspeers-logo" src="/assets/images/logotypes/swisspeers@1x.png" srcset="/assets/images/logotypes/swisspeers@2x.png" alt="swisspeers logo">
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="text-center">
            <a href="https://medium.com/at-par/private-markets-2-0-abca1cdf5809" class="arrow-link" target="_blank">Read more</a>
          </div>
        </li>
        <li id="securities" class="use-case">
          <div class="use-case__row">
            <div class="use-case__label">Issue and service digital securities from your custody solution</div>
            <div class="use-case__content">
              <h2 class="section-title section-title--dark use-case__title">Issue and service digital securities from your custody solution</h2>
              <ul>
                <li class="use-case-item">
                  <h3 class="use-case-item__title">⭐ Opportunity</h3>
                  <p class="use-case-item__text">Major financial institutions already build on our partner’s digital asset custody solution allowing their clients to invest in and hold this new asset class. As digital securities such as digital equity, bonds or derivatives are also gaining increased adoption our partner aims at expanding his service offering in this direction.</p>
                </li>
                <li class="use-case-item">
                  <h3 class="use-case-item__title">‍🚀  Goals:</h3>
                  <p class="use-case-item__text">
                    •  Enable digital asset custodians to become a 1-stop-shop for all aspects of digital securities <br>
                    •  Allow their clients to issue digital securities directly from their custody solution <br>
                    •  Support management of corporate actions from the custody solution
                  </p>
                </li>
                <li class="use-case-item">
                  <h3 class="use-case-item__title">‍‍💪  Solution:</h3>
                  <p class="use-case-item__text">Integrate our Decentral Depository and its digital securities issuance, servicing and management services into the Partner’s Custody solution. Use our APIs and standard digital securities templates for short time-to-market or integrate the smart contract(s) representing custom securities directly.</p>
                </li>
                <li class="use-case-item">
                  <h3 class="use-case-item__title">‍💡 Value Add:</h3>
                  <p class="use-case-item__text">
                    •  Access to digital equity, bonds and derivatives through one partner<br>
                    •  Seamless integration with APIs <br>
                    •  Short time-to-market
                  </p>
                </li>
                <li class="use-case-item use-case-item--partner">
                  🤝 Partners: Major digital asset custody providers
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li id="bridging" class="use-case">
          <div class="use-case__row">
            <div class="use-case__label">Bringing TradFi assets to DeFi</div>
            <div class="use-case__content">
              <h2 class="section-title section-title--dark use-case__title">Bringing TradFi assets to DeFi</h2>
              <ul>
                <li class="use-case-item">
                  <h3 class="use-case-item__title">⭐ Opportunity</h3>
                  <p class="use-case-item__text">2poly creates an alternative refinancing facility for factoring and trade finance service providers. This facility allows those providers to tokenize existing receivables and loan portfolios in order to access funding sources in the DeFi ecosystem. Thereby, 2poly offers TradFi organizations an alternative source for refinancing their business.</p>
                </li>
                <li class="use-case-item">
                  <h3 class="use-case-item__title">‍🚀  Goals:</h3>
                  <p class="use-case-item__text">
                    •  Access to alternative refinancing by tokenizing existing loan/receivable portfolios <br>
                    •  Bring real world assets to DeFi and DeFi funding to TradFi
                  </p>
                </li>
                <li class="use-case-item">
                  <h3 class="use-case-item__title">‍‍💪  Solution:</h3>
                  <p class="use-case-item__text">
                    Through the Decentral Depository all kinds of loans and receivables can be easily converted into digital securities. Moving the securities’ term sheets on-chain makes the assets transparent and interoperable with DeFi protocols. Pool management too is more efficient as the Depository agent services allow for an unseen degree of automation.
                  </p>
                </li>
                <li class="use-case-item">
                  <h3 class="use-case-item__title">‍💡 Value Add:</h3>
                  <p class="use-case-item__text">
                    •  DeFi on-ramp for diverse TradFi assets and portfolios<br>
                    •  Automate asset servicing throughout the entire lifecycle to minimize back-office cost <br>
                    •  Full on-chain transparency of underlying assets and cashflows <br>
                    •  Seamless integration into existing systems through APIs
                  </p>
                </li>
                <li class="use-case-item use-case-item--partner">
                  🤝 Partner:
                  <div class="use-case-item__img-wrapper">
                    <a href="https://2poly.io" target="_blank">
                      <img class="poly-img" src="/assets/images/logotypes/2poly@1x.png" srcset="/assets/images/logotypes/2poly@2x.png" alt="2poly logo">
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
  {% include cta.html %}
</main>
