<section class="bg-blue afp">
    <div class="container">
        <div class="section column center">
            <h1 class="section-title">{{ site.data.atpar.title }}</h1>
            <p class="section-paragraph">{{ site.data.atpar.description }}</p>

            <form action="{{ site.data.index.urlToSend }}" method="{{ site.data.index.method }}" class="subscribe-form" id="email-form" target="_blank">
                <div class="form-status">
                    <div class="form-status-error">{{ site.data.index.errorMessage }}</div>
                    <div class="form-status-success">{{ site.data.index.successMessage }}</div>
                </div>
                <input class="subscribe-form-input" required type="email" placeholder="{{ site.data.atpar.subscribePlaceholder }}" name="EMAIL">
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" tabindex="-1" value=""></div>
                <button type="submit" class="button">
                    <span>{{ site.data.atpar.subscribeButton }}</span>
                    <img src="assets/images/error.png" class="error" alt="">
                    <img src="assets/images/success.png" class="success" alt="">
                </button>
            </form>
        </div>
    </div>
</section>