<section class="cta">
  <div class="container">
    <h2 class="cta__title">Digitizing capital markets
      one security at a time</h2>
    <div class="cta__row">
      <a target="_blank" href="{{ site.contact }}" class="btn btn--secondary cta__button">CONTACT US</a>
      <a target="_blank" href="{{ site.contact }}" class="btn btn--secondary cta__button">REQUEST A DEMO</a>
      <a target="_blank" href="https://developer.actus-protocol.io" class="btn btn--secondary cta__button">GET API KEY</a>
    </div>
  </div>
</section>
