<footer class="footer">
  <div class="container">
    <div class="footer__row">
      <a href="/" class="logo-link">
        <img class="logo" src="/assets/images/logo-light@1x.png" srcset="/assets/images/logo-light@2x.png" alt="logo">
      </a>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-links-row">
      <a href="/privacy-policy.html" class="footer-bottom__text">Privacy policy</a>
      <a href="/impressum.html" class="footer-bottom__text">Impressum</a>
    </div>
    <ul class="social">
      <li class="social__item">
        <a href="{{ site.github }}" class="social__link" target="_blank">
          <img src="/assets/images/icons/github.svg" alt="github">
        </a>
      </li>
      <li class="social__item">
        <a href="https://www.linkedin.com/company/atpar/" class="social__link" target="_blank">
          <img src="/assets/images/icons/linkedin.svg" alt="linkedin">
        </a>
      </li>
      <li class="social__item">
        <a href="https://twitter.com/at_par_" class="social__link" target="_blank">
          <img src="/assets/images/icons/twitter.svg" alt="twitter">
        </a>
      </li>
    </ul>
    <p class="footer-bottom__text">Copyright © 2021</p>
  </div>
</footer>
