<div class="subscribe">
  <div class="container">
    <div class="subscribe__content">
      <h2 class="subscribe__title section-title section-title--dark">Newsletter</h2>
      <p class="subscribe__subtitle section-subtitle section-subtitle--dark">Get updates straight to your inbox.</p>
      <form class="subscribe__form">
        <input placeholder="Enter your e-mail" type="email" class="subscribe__input">
        <button class="subscribe__btn btn btn--secondary">Submit</button>
      </form>
    </div>
  </div>
</div>
