<div class="top-bar">
  <a href="/">
    <img class="logo" src="/assets/images/logo@1x.png" srcset="/assets/images/logo@2x.png" alt="logo">
  </a>
  <button class="menu-open" hidden>
    <img src="/assets/images/icons/hamburger.svg" alt="menu">
  </button>
  <nav class="nav">
    <button class="menu-close" hidden>
      <img src="/assets/images/icons/arrow-right-large.svg" alt="arrow">
    </button>
    <ul class="nav__list">
      <li class="nav__item">
        <a href="/" class="nav__link">HOME</a>
      </li>
      <li class="nav__item">
        <a href="/product.html" class="nav__link">PRODUCT</a>
      </li>
      <li class="nav__item">
        <a href="/use-cases.html" class="nav__link">USE CASES</a>
      </li>
      <li class="nav__item">
        <a href="/company.html" class="nav__link">COMPANY</a>
      </li>
    </ul>
    <a href="https://developer.actus-protocol.io/" target="_blank" class="arrow-link">DEV PORTAL</a>
  </nav>
</div>
