<ul class="use-cases-nav">
  <li class="use-cases-nav__item">
    <a href="use-cases.html#powerhouse" class="use-case-card">
      <p class="use-case-card__title text text--dark">Building a tokenization powerhouse</p>
      <div>
        <span class="arrow-link">READ</span>
      </div>
    </a>
  </li>
  <li class="use-cases-nav__item">
    <a href="use-cases.html#market" class="use-case-card">
      <p class="use-case-card__title text text--dark">Making private market transactions accessible</p>
      <div>
        <span class="arrow-link">READ</span>
      </div>
    </a>
  </li>
  <li class="use-cases-nav__item">
    <a href="use-cases.html#securities" class="use-case-card">
      <p class="use-case-card__title text text--dark">Managing digital securities in your custody solution</p>
      <div>
        <span class="arrow-link">READ</span>
      </div>
    </a>
  </li>
  <li class="use-cases-nav__item">
    <a href="use-cases.html#bridging" class="use-case-card">
      <p class="use-case-card__title text text--dark">Bridging TradFi and DeFi</p>
      <div>
        <span class="arrow-link">READ</span>
      </div>
    </a>
  </li>
</ul>
