---
---

// reset styles
*{box-sizing:border-box}html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

// main
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #fff;
}

a {
  color: #000;
}

.bg-blue {
  background-color: #fff;
}

.bg-gray {
  background-color: #2c3756;
}

.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  padding: 64px 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo-link {
    text-decoration: none;
    color: #818eb1;
    display: inline-block;
}

  .header-soc-wrap {
    display: flex;
    align-items: center;

    & .header-soc-link {
      text-decoration: none;
      transition: opacity 0.1s ease-out;

      &:hover {
        opacity: 0.8;
      }
  }

    & .header-soc-link + .header-soc-link {
      margin-left: 32px;
  }

    & .header-soc-link img {
      display: block;
      width: 24px;
      height: 24px;
      object-fit: contain;
  }
}

}

.section {
  display: flex;
  padding: 64px 0;

  &.column {
    flex-direction: column;
  }

  &.center {
    align-items: center;
  }
}

.half-section {
  width: 50%;
  margin-right: 20px;
  position: relative;

  & + & {
    margin-left: 20px;
    margin-right: 0;
  }
}

.plug-and-play-preview {
  z-index: 1;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.section-title {
  font-weight: 500;
  font-size: 48px;
  color: #2c3756;
  line-height: 48px;
  margin-bottom: 24px;
  white-space: pre-wrap;

  &.center {
    text-align: center;
  }
}

.section-subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  margin-top: 48px;
  margin-bottom: 12px;
  white-space: normal;
}

.section-paragraph {
  font-weight: 200;
  font-size: 22px;
  color: #647BA1;
  line-height: 32px;
  margin-bottom: 20px;
  white-space: pre-wrap;

  &.mb40 {
    margin-bottom: 40px;
  }

  &.center {
    text-align: center;
  }
}

.section-image {
  width: 100%;
}

.subscribe-form {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 10px 20px 0 rgba(35, 54, 142, 0.05);
  padding: 16px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.form-status {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #647BA1;
  position: absolute;
  bottom: -30px;
  left: 16px;
  pointer-events: none;

  .form-status-error {
    color: #ff5555;
    display: none;
  }
  .form-status-success {
    color: #14bc74;
    display: none;
  }
}

.subscribe-form-input {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #647BA1;
  line-height: 22px;
  border: none;
  padding: 12px 4px;
  width: 100%;
  margin-right: 16px;
}

.subscribe-form-input::placeholder {
  opacity: 0.5;
}

.button, .cc-btn {
  background-color: rgb(44, 55, 86);
  box-shadow: 0 10px 20px 0 rgba(44, 55, 86, 0.25);
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  border-radius: 4px;
  padding: 15px 29px;
  border: none;
  cursor: pointer;
  flex-shrink: 0;
  transition: opacity 0.1s ease-out;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &.error {
    background-color: #ff5555;
    padding: 12px 29px;
    min-width: 176px;
  }
  &.success {
    background-color: #14bc74;
    padding: 12px 29px;
    min-width: 176px;
  }
  &.portal {
    background-color: rgb(100, 123, 161);
    padding: 15px 29px;
    box-shadow: 0 10px 20px 0 rgba(100, 123, 161, 0.25);
  }
  img {
    display: none;
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
}

.button:hover {
  opacity: 0.8;
}

.plug-and-play {
  .section-paragraph {
    margin-bottom: 40px;
  }
}

.benefits-wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .benefit {
    display: flex;
    flex-direction: column;
    width: 260px;
    align-items: center;
    margin: 20px;

    .benefit-image {
      display: block;
      height: 64px;
      width: 125px;
      object-fit: contain;
      margin-bottom: 16px;
  }

    .benefit-name {
      font-weight: 700;
      font-size: 24px;
      color: #2c3756;
      text-align: center;
      line-height: 30px;
      margin-bottom: 8px;
  }

    .benefit-description {
      font-weight: 600;
      font-size: 16px;
      color: #647ba1;
      text-align: center;
      line-height: 22px;
  }
}
}

.grade-wrap {
  display: flex;
  flex-wrap: wrap;

  .grade {
    max-width: 392px;
    width: 100%;
    display: flex;
    padding: 24px 0;
    margin-right: 80px;

    .grade-image {
      display: block;
      height: 48px;
      width: 48px;
      object-fit: contain;
      margin-right: 24px;
      flex-shrink: 0;
    }

    .grade-name {
      font-weight: 700;
      font-size: 16px;
      color: #2c3756;
      line-height: 22px;
      margin-bottom: 8px;
    }

    .grade-description {
      font-weight: 600;
      font-size: 16px;
      color: #647ba1;
      line-height: 22px;
    }
  }
}

.team-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .member {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 211px;
    margin: 27px;
}

  .member-photo {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 16px;
}

  .member-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #2c3756;
    text-align: center;
    margin-bottom: 4px;
}
  .member-arrow {
    text-decoration: none;
    display: none;
    color: #647ba1;
    width: 16px;
    height: 16px;
    transition: transform 0.2s ease-out;

    & img {
      display: block;
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
  .member-arrow.rotate {
    transform: rotate(180deg);
    margin-top: 14px;
  }
  .member-role {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #2c3756;
    text-align: center;
    margin-bottom: 8px;
}

  .member-description {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #647bA1;
    text-align: center;

    &.hide {
      display: none;
    }
}

  .member-socs-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: auto;

    &.hide {
      display: none;
    }

    .member-soc-link {
      display: inline-block;
      margin: 8px;
      color: #647ba1;
      opacity: 0.5;
      transition: opacity 0.1s ease-out;

      &:hover {
        opacity: 1;
      }

      .member-soc-icon {
        width: 24px;
        height: 24px;
        display: block;
        object-fit: cover;
      }
  }
}
}

.faq-wrap {
  display: flex;
  flex-wrap: wrap;

  .faq {
    background-color: #fff;
    border-radius: 4px;
    padding: 26px 24px;
    max-width: 460px;
    width: 100%;
    margin: 12px 16px;
}

  .faq-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .faq-arrow {
      display: block;
      width: 24px;
      height: 24px;
      transition: transform 0.2s ease-out;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .faq-arrow.rotate {
      transform: rotate(180deg);
    }
  }

  .faq-question {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #2c3756;
    margin-right: 24px
}

  .faq-answer {
    margin-top: 22px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #647ba1;

    &.hide {
      display: none;
    }
  }
}

.partners-wrap {
  text-align: center;

  .partner-link {
    text-decoration: none;
    color: #647ba1;
    vertical-align: middle;
    display: inline-block;
    margin: 24px;
    transition: opacity 0.1s ease-out;

    &:hover {
      opacity: 0.8;
  }

    .partner-logo {
      vertical-align: middle;
      height: 48px;
  }
}
}

.footer {
  padding: 32px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .copyright {
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #fff;
    max-width: 373px;
    width: 100%;
    margin-right: 20px;

    a {
      color: inherit;
    }
}

  .links-wrap {

    .link {
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      color: #fff;
      letter-spacing: 1px;
      text-decoration: none;
      text-transform: none;
      display: inline-block;

      &:hover {
        opacity: 0.8;
    }
  }

    .link + .link {
      margin-left: 40px;
  }
}
}

@media (max-width: 1024px) {
  .header {
   flex-direction: column;
   justify-content: center;
  }
  .header .logo-link {
    margin-bottom: 20px;
  }
  header + section .section {
    padding-top: 0;
  }
  .button {
    width: 100%;
    max-width: 400px;
    display: flex;
    margin: 0 auto;
  }
  .section {
    flex-direction: column-reverse;
  }
  .section .section-paragraph {
    white-space: normal;
  }
  .section .section-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    white-space: normal;
  }

  .section .section-subtitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    margin-top: 32px;
    margin-bottom: 12px;
    white-space: normal;
  }

  .section .half-section {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .section .half-section:first-of-type {
    margin-bottom: 0;
  }
  .subscribe-form {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    flex-direction: column;
    padding: 0;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
  }
  .form-status {
    top: -30px;
    bottom: auto;
  }
  .subscribe-form .subscribe-form-input {
    background-color: #fff;
    box-shadow: 0 10px 20px 0 rgba(35, 54, 142, 0.05);
    border-radius: 4px;
    width: 100%;
    max-width: 400px;
    padding: 13px 16px;
    margin: 0 0 16px;
  }
  .grade-wrap .grade {
    margin-right: 0;
    flex-direction: column;
    padding: 18px 0;
  }
  .grade-wrap .grade .grade-image {
    margin-right: 0;
    margin-bottom: 16px;
  }
  .team-wrap .member-arrow {
    display: block;
  }
  .faq-wrap {
    flex-direction: column;

    .faq {
      margin: 12px 0;
    }
  }
  .footer {
    flex-direction: column;
    padding: 32px 0;
    align-items: self-start;

    .copyright {
      margin-bottom: 80px;
      margin-right: 0;
    }
    .links-wrap {
      display: flex;
      flex-direction: column;

      .link + .link {
        margin-top: 12px;
        margin-left: 0;
      }
    }
  }
}
