.product-hero-text
  max-width: 538px
  margin: 8px auto 0

.services
  padding: 80px 0
  
.services__row
  display: flex

.services__title
  text-align: left
  margin-bottom: 8px

.services__subtitle
  max-width: 335px
  margin-bottom: 56px
  text-align: left

.services-list__item + .services-list__item
  margin-top: 10px
  
.services-list__button
  position: relative
  max-width: 286px
  width: 100%
  padding: 15px 40px 15px 24px
  text-align: left
  font-weight: bold
  font-size: 20px
  line-height: 150%
  color: #FFFFFF
  outline: none

.services-list__button.active
  background: #19202F
  border-radius: 12px
  color: #3F9DFF

.services-list__button.active::after
  content: ''
  position: absolute
  top: 50%
  right: 22px
  transform: translateY(-50%)
  width: 16px
  height: 16px
  background: url('/assets/images/icons/arrow-right.svg') center no-repeat
  background-size: contain

.services__sidebar
  max-width: 350px
  width: 100%
  
.services__content
  margin-left: 30px
  text-align: center
  
.service
  display: none

.service.visible
  display: block

.service__icon
  width: 140px
  height: 140px
  
.service__title
  margin: 40px 0
  font-weight: bold
  font-size: 32px
  line-height: 40px
  text-align: center
  color: #FFFFFF

.service__text
  font-size: 20px
  line-height: 32px
  color: #FFFFFF
  text-align: left
  
.service__text + .service__text
  margin-top: 30px
  
.benefits
  padding: 160px 0 29px

.benefits__title
  margin-bottom: 8px
  
.benefits-list
  display: flex
  flex-wrap: wrap
  justify-content: center
  margin: 80px -59px 0

.benefits-list__item
  max-width: 168px
  margin: 0 59px 51px
  text-align: center

.benefits-list__text
  margin-top: 24px
  font-weight: 700
  font-size: 20px
  line-height: 150%
  text-align: center
  color: #121824

.security
  padding: 80px 0

.security__row
  display: flex

.security__slogan
  max-width: 470px
  width: 100%
  padding-top: 40px
  text-align: left
  
.security__content
  max-width: 634px
  margin-right: 30px

.security__title,
.security__subtitle
  text-align: left

.security__title,
.security__subtitle
  margin: 0 0 16px

.platform
  padding: 80px 0

.platform__content
  padding-top: 80px
  border-top: 1px solid #E5E9F8
  
.platform__row
  display: flex
  align-items: center
  justify-content: space-between
  margin-top: 80px

.layers-img
  max-width: 341px
  
.layers-list
  max-width: 728px
  margin-left: 30px

.layer
  padding: 32px
  background: #FFFFFF
  box-shadow: 0px 7px 18px rgba(224, 228, 241, 0.5)
  border-radius: 12px

.layer + .layer
  margin-top: 40px

.layer__title
  font-size: 20px
  line-height: 150%
  color: #121824
  
.layer__text
  font-size: 14px
  line-height: 150%
  color: #4B5974
  
.open-source
  padding: 80px 0

.open-source__content
  padding: 56px 14px
  background: #FFE7EE
  border-radius: 12px
  text-align: center

.open-source__text
  margin: 40px auto
  max-width: 724px
  text-align: center
