<section class="bg-blue">
    <div class="container">
        <div class="section column">
            <h1 class="section-title center">{{ site.data.benefits.title}}</h1>
            <p class="section-paragraph center">{{ site.data.benefits.description }}</p>
            <div class="benefits-wrap">
                {% for benefit in site.data.benefits.benefits %}
                <div class="benefit">
                    <img src="{{ benefit.image }}" class="benefit-image" alt="{{ benefit.name }}">
                    <div class="benefit-name">{{ benefit.name }}</div>
                    <div class="benefit-description">{{ benefit.description }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>