<section class="plug-and-play">
    <div class="container">
        <div class="section">
            <div class="half-section">
                <img src="{{ site.data.plug-and-play.imagePreview}}" class="plug-and-play-preview" alt="">
                <img src="{{ site.data.plug-and-play.image}}" class="section-image" alt="">
            </div>
            <div class="half-section">
                <h1 class="section-title">{{ site.data.plug-and-play.title}}</h1>
                <p class="section-paragraph mb40">{{ site.data.plug-and-play.description}}</p>
            </div>
        </div>
    </div>
</section>